* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f6f8;
    margin: 0;
    padding: 30px;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #333;
}
/* Form Design */
.form {
    width: 400px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 12px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #1d4ed8;
}
/* Contact List */

#contactList {
    width: 500px;
    margin: 20px auto;
}
.contact-card {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
.contact-card h3 {
    margin: 0;
    color: #2563eb;
}
.contact-card p {
    margin: 5px 0;
}
.delete-btn {
    background-color: #dc2626;
    margin-top: 10px;
}
.delete-btn:hover {
    background-color: #b91c1c;
}
